.form-block {
  padding: 100px;
  width: 100%;
  display: grid;
  row-gap: 40px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  .control-states-list {
    display: flex;
    align-items: center;
    column-gap: 15px;
  }
}
